/* Adjusting width and center form */
.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
}

.custom-width {
  width: 30%;
  max-width: 900px;
  margin: 0 auto;
}

form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h3 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-group button {
  width: calc(33.33% - 10px);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#saveBtn {
  background-color: #007bff;
  color: #fff;
}

#cancelBtn {
  background-color: #dc3545;
  color: #fff;
}

#editBtn {
  background-color: #28a745;
  color: #fff;
}

/* Button hover styles */
button:hover {
  opacity: 0.8;
}

.active-input {
  border: 1px solid #007bff; /* Add your desired border color */
}
