<div class="container">
  <ul class="desktop-menu-category-list">
    <li class="menu-category">
      <a href="/main" class="menu-title">Home</a>
    </li>

    <li class="menu-category">
      <a href="/product/category/Mobile" class="menu-title">Mobile</a>
    </li>

    <li class="menu-category">
      <a href="/product/category/Tablet" class="menu-title">Tablet</a>
    </li>

    <li class="menu-category">
      <a href="/product/category/TV" class="menu-title">TV</a>
    </li>

    <li class="menu-category">
      <a href="/product/category/Laptop" class="menu-title">Laptop</a>
    </li>

    <li class="menu-category">
      <a href="/product/category/Wearable" class="menu-title">Wearable</a>
    </li>
    <li class="menu-category">
      <a href="/product/category/Camera" class="menu-title">Camera</a>
    </li>
    <li class="menu-category">
      <a href="/product/category/Accessories" class="menu-title">Accessories</a>
    </li>
  </ul>
</div>
