<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Based Application ElecSpectra</title>
    <link rel="stylesheet" href="./assets/css/style.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  </head>
  <body>
    <!--Header Content-->
    <header id="header"></header>

    <!-- Navbar Desktop menu -->
    <nav id="navbar" class="desktop-navigation-menu"></nav>
    <div class="container">
      <h3>Thank you</h3>
    </div>

    <!-- Footer-->
    <footer id="footer"></footer>

    <!-- custom js link-->
    <!-- ionicon link -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>

    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>

    <script
      src="https://kit.fontawesome.com/6e23c76e5a.js"
      crossorigin="anonymous"
    ></script>
    <script type="module" src="./assets/js/script.js"></script>
  </body>
</html>
